<div class="form-style">
  <div class="page-form">
    <div class="row"><%= form.text_field :name, class: "form-control", placeholder: "Category Name(Can't be blank)" %></div>
    <div class="row">
      <%= form.submit "Submit", :class=>"btn btn-warning" %>
      <%=link_to categories_path do %><span class="btn btn-warning" style="margin-left: 10px;">Cancel</span><%end%>
    </div>
  </div>
</div>
